<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Shopping Cart</title>
  <link rel="stylesheet" href="/public/css/main.css">
  <link rel="stylesheet" href="/public/css/cart.css">
</head>

<body>
  <header>
    <a href="/"><img src="/public/GFE-logo.png" title="Go to GFE Home Page" alt="GFE Home Page"></a>
    <h1>Shopping Cart</h1>
  </header>

  <main>
    <div id="cart-list" class="cart">Loading...</div>

    <p>
      <a href="/checkout" class="button">Checkout Now!</a>
      <a href="/clearcart" class="button">Empty Cart</a>
      <a href="/logout" class="button">Secure Log-Out</a>
    </p>


  </main>

  <script type="text/template" id="cart-template">
    <article class="product-preview" id="<% _id %>">
      <img src="<% image %>" alt="picture of <% name %>">
      <h1><% name %></h1>
      <h3><% price %></h3>
      <button class="button" href="#">Remove from cart</button>
    </article>
  </script>

  <script type="text/javascript" src="/public/js/lib/ajax.js"></script>
  <script type="text/javascript" src="/public/js/lib/util.js"></script>
  <script type="text/javascript" src="/public/js/cart.js"></script>

  {{#if error}}
    <p class="error">
      {{error}}
    </p>
  {{/if}}
</body>

</html>
