<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="utf-8">
  <title>Checkout</title>
  <link rel="stylesheet" href="/public/css/main.css">
</head>

<body>
  <header>
    <a href="/"><img src="/public/GFE-logo.png" title="Go to GFE Home Page" alt="GFE Home Page"></a>
    <h1>Checkout</h1>
  </header>

  <main>

    <form action="/checkout" method="POST" id="login-form">
      <table>
        <tr>
          <td><a href="/cart" class="button">Back to Cart</a></td>
          <td><a href="/logout" class="button">Save Cart and Logout</a></td>
        </tr>
        <tr>
          <td><label for="address-box">Street Address:</label></td>
          <td><input type="text" name="address" id="address-box"></td>
        </tr>
        <tr>
          <td><label for="city-box">City:</label></td>
          <td><input type="text" name="city" id="city-box"></td>
        </tr>
        <tr>
          <td><label for="state-box">State:</label></td>
          <td><input type="text" name="state" id="state-box"></td>
        </tr>
        <tr>
          <td><label for="zip-box">Zip:</label></td>
          <td><input type="text" name="zip" id="zip-box"></td>
        </tr>
        <tr>
          <td></td>
          <td><button type="submit">Submit</button></td>
        </tr>
      </table>
    </form>

    {{#if error}}
      <p class="error">
        {{error}}
      </p>
    {{/if}}


  </main>

  <footer>
    <p><strong>Site created for CS-546 by:</strong> </p>
    <p>Dakota Crouchelli <br> Christopher Drew
      <br> Theodore Kluge <br> </p>
    <p><em> Team Missing Bracket </em> </p>
  </footer>

</body>

</html>
