<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Checkout</title>
  <link rel="stylesheet" href="/public/css/main.css">
</head>

<body>
  <header>
    <a href="/"><img src="/public/GFE-logo.png" title="Go to GFE Home Page" alt="GFE Home Page"></a>
    <h1>Checkout</h1>
  </header>

  <main>

    <a href="/cart" class="button">Back to Cart</a>
    <a href="/logout" class="button">Save Cart and Logout</a>



    <form action="/checkout" method="POST" id="login-form">

      <label for="address-box">Street Address:</label>
      <input type="text" name="address" id="address-box"><br><br>

      <label for="city-box">City:</label>
      <input type="text" name="city" id="city-box"><br><br>

      <label for="state-box">State:</label>
      <input type="text" name="state" id="state-box"><br><br>

      <label for="zip-box">Zip:</label>
      <input type="text" name="zip" id="zip-box"><br><br>

      <button type="submit">Submit</button>
      <a href="/" class="button">Go Back</a></p>

      {{#if error}}
        <p class="error">
          {{error}}
        </p>
      {{/if}}
    </form>

    {{#if error}}
      <p class="error">
        {{error}}
      </p>
    {{/if}}


  </main>

  <footer>
    <p><strong>Site created for CS-546 by:</strong> </p>
    <p>Dakota Crouchelli <br> Christopher Drew
      <br> Theodore Kluge <br> </p>
    <p><em> Team Missing Bracket </em> </p>
  </footer>

</body>

</html>
