<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Purchase History</title>
  <link rel="stylesheet" href="/public/css/main.css">

</head>

<body>
  <header>
    <a href="/"><img src="/public/GFE-logo.png" title="Go to GFE Home Page" alt="GFE Home Page"></a>
    <h1>Purchase History</h1>
  </header>

  <main>
    <div id="cart-list" class="cart">Loading...</div>

    <p>
      <a href="/logout" class="button">Secure Log-Out</a>
    </p>


  </main>

  <footer>
    <p><strong>Site created for CS-546 by:</strong> </p>
    <p>
      Dakota Crouchelli<br> Christopher Drew<br> Theodore Kluge
    </p>
    <p><em> Team Missing Bracket </em> </p>
  </footer>

  <script type="text/template" id="cart-template">
    <article class="product-preview" id="id-<% _id %>">
      <table>
        <tr>
          <th colspan="3"><br><img src="<% image %>" alt="picture of <% name %>"></th>
        </tr>
        <tr>
          <td>
            <% name %>
          </td>
          <td>purchased for
            <% price %>
          </td>
          <td>
            <% time %>
          </td>
        </tr>
      </table>
    </article>
  </script>

  <script src="/public/js/lib/ajax.js"></script>
  <script src="/public/js/lib/util.js"></script>
  <script src="/public/js/history.js"></script>

  {{#if error}}
    <p class="error">
      {{error}}
    </p>
  {{/if}}
</body>

</html>
