<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
    	<title>Global Fruit Exchange Homepage</title>
    	<link rel="stylesheet" href="/public/main.css">
	</head>

	<body>
		<header>
			<h1>Welcome to Global Fruit Exchange!</h1>
		</header>

		<main>
		</main>

		<footer>
			<p>Site created for CS-546 by Team Missing Bracket:</p>
			<p>Dakota Crouchelli</p>
			<p>Chris Drew</p>
			<p>Theodore Kluge</p>
		</footer>

		<!-- script is run after page loads -->
		<script src="/public/js/form.js"></script>
	</body>
</html>
