<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Global Fruit Exchange Homepage</title>
	<link rel="stylesheet" href="/public/css/main.css">
</head>

<body>
	<header>
		<a href="/"><img src="/public/GFE-logo.png" title="Go to GFE Home Page" alt="GFE Home Page"></a>
		<h1>Welcome to Global Fruit Exchange!</h1>
	</header>

	<main>

		{{#unless loggedIn}}
			<a href="/login" class="button">Login</a>
			<a href="/register" class="button">Register</a>
		{{/unless}}

		{{#if loggedIn}}
			<a href="/cart" class="button">View Cart</a>
			<a href="/history" class="button">View purchases</a>
			<a href="/logout" class="button">Logout</a>
		{{/if}}


		<section id="product-list" class="product-list">
			Loading...
		</section>

		{{#if error}}
			<p class="error">
				{{error}}
			</p>
		{{/if}}


	</main>

	<footer>
		<p><strong>Site created for CS-546 by:</strong> </p>
		<p>
			Dakota Crouchelli<br> Christopher Drew<br> Theodore Kluge
		</p>
		<p><em> Team Missing Bracket </em> </p>
	</footer>

	<script type="text/template" id="product-template">
		<article class="product-preview" id="<% _id %>">
			<img src="<% image %>" alt="picture of <% name %>">
			<h1><% name %></h1>
			<h2><% stars %></h2>
			<h3><% price %></h3>
			<div class="hover">
				<a class="button" href="/product/<% _id %>">View</a>
			</div>
		</article>
	</script>
	<script type="text/template" id="star-template">
		<svg viewBox="0 0 24 24">
		    <path d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z" />
		</svg>
	</script>

	<script type="text/javascript" src="/public/js/lib/ajax.js"></script>
	<script type="text/javascript" src="/public/js/lib/util.js"></script>
	<script type="text/javascript" src="/public/js/main.js"></script>
</body>

</html>
