<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
    	<title>Global Fruit Exchange Homepage</title>
    	<link rel="stylesheet" href="/public/main.css">
	</head>

	<body>
		<header>
			<a href="/"><img src="/public/GFE-logo.png" title="Go to GFE Home Page" alt="GFE Home Page"></a>
			<h1>Welcome to Global Fruit Exchange!</h1>
		</header>

		<main>
		</main>

		<footer>
			<p><strong>Site created for CS-546 by:</strong> </p>
			<p>Dakota Crouchelli <br> Christopher Drew
			<br> Theodore Kluge <br> </p>
			<p><em> Team Missing Bracket </em> </p>
		</footer>

		<!-- script is run after page loads -->
		<script src="/public/js/form.js"></script>
	</body>
</html>
