<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Login Page</title>
  <link rel="stylesheet" href="/public/css/main.css">
</head>

<body>

  <header>
    <a href="/"><img src="/public/GFE-logo.png" title="Go to GFE Home Page" alt="GFE Home Page"></a>
    <h1>Login Page</h1>
  </header>

  <main>
    <form action="/login" method="POST" id="login-form">
      <table>
        <tr>
          <td> <label for="email-box">Email:</label>
          </td>
          <td><input type="text" name="email" id="email-box" required></td>
        </tr>
        <tr>
          <td> <label for="pass-box">Pass:</label>
          </td>
          <td> <input type="password" name="password" id="pass-box" required></td>
        </tr>
        <tr>
          <td></td>
          <td><button type="submit">Submit</button></td>
        </tr>
      </table>
    </form>

    {{#if error}}
      <p class="error">
        {{error}}
      </p>
    {{/if}}

  </main>
  <footer>
    <p><strong>Site created for CS-546 by:</strong> </p>
    <p>
      Dakota Crouchelli<br> Christopher Drew<br> Theodore Kluge
    </p>
    <p><em> Team Missing Bracket </em> </p>
  </footer>
</body>

</html>
