<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Available Inventory</title>
  <link rel="stylesheet" href="/public/css/main.css">
</head>

<body>
  <header>
    <a href="/"><img src="/public/GFE-logo.png" title="Go to GFE Home Page" alt="GFE Home Page"></a>
    <h1>Available {{fruitType}} Inventory</h1>
  </header>

  <main>
    <p>{{fruitType}}</p>

    <p>
      <a href="#" class="button">Add to cart</a>
      <a href="/logout" class="button">Secure Log-Out</a>
    </p>


  </main>
</body>

</html>
