<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Available Inventory</title>
  <link rel="stylesheet" href="/public/main.css">
</head>

<body>
  <header>
    <a href="/"><img src="/public/GFE-logo.png" title="Go to GFE Home Page" alt="GFE Home Page"></a>
    <h1>Available Inventory</h1>
  </header>

  <main>
    <p>Items go here</p>

    <p><a href="/checkout" class="button">Checkout Now!</a>
      <a href="/clearcart" class="button">Empty Cart</a>
      <a href="/logout" class="button">Secure Log-Out</a></p>


  </main>
</body>

</html>
