<!doctype html>
<html lang="en-US">

<head>
  <meta charset="utf-8">
  <title>GFE Registration</title>
  <link rel="stylesheet" href="/public/css/main.css">
</head>

<body>
  <header>
    <a href="/"><img src="/public/GFE-logo.png" title="Go to GFE Home Page" alt="GFE Home Page"></a>
    <h1>GFE Registration</h1>
  </header>

  <main>

    <p>
      Please fill out the form below to register. <br> Take care not to forget your password -- we don't store it when your account is created, instead it is hashed and so we have no way of seeing it or sending it to you!
    </p>

    <form action="/register" method="POST" id="login-form">
      <table>
        <tr>
          <td><label for="name-box">Full Name:</label><br></td>
          <td><input type="text" name="username" id="name-box" required></td>
        </tr>
        <tr>
          <td><label for="email-box">Email:</label></td>
          <td><input type="text" name="email" id="email-box" required></td>
        </tr>
        <tr>
          <td><label for="pass-box">Password:</label></td>
          <td><input type="password" name="password" id="pass-box" required></td>
        </tr>
        <tr>
          <td><a href="/" class="button">Go Back</a></td>
          <td><button type="submit">Submit</button></td>
        </tr>
      </table>
    </form>

    {{#if error}}
      <p class="error">
        {{error}}
      </p>
    {{/if}}

  </main>
  <footer>
    <p><strong>Site created for CS-546 by:</strong> </p>
    <p>
      Dakota Crouchelli<br> Christopher Drew<br> Theodore Kluge
    </p>
    <p><em> Team Missing Bracket </em> </p>
  </footer>
</body>

</html>
