<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>GFE Registration</title>
  <link rel="stylesheet" href="/public/main.css">
</head>

<body>
  <header>
    <a href="/"><img src="/public/GFE-logo.png" title="Go to GFE Home Page" alt="GFE Home Page"></a>
    <h1>GFE Registration</h1>
  </header>

  <main>

    <p>
      Please fill out the form below to register. <br>
      Take care not to forget your password --
      we don't store it when your account is created, instead it is hashed
      and so we have no way of seeing it or sending it to you!
    </p>

    <p><form action="/register" method="POST" id="login-form">

      <label for="name-box">Full Name:</label>
      <input type="text" name="username" id="name-box"><br><br>

      <label for="email-box">Email:</label>
      <input type="text" name="email" id="email-box"><br><br>

      <label for="pass-box">Password:</label>
      <input type="password" name="password" id="pass-box"><br><br>

      <button type="submit">Submit</button>
      <a href="/" class="button">Go Back</a></p>

      {{#if error}}
        <p class="error">
          {{error}}
        </p>
      {{/if}}
    </form>

  </main>
</body>

</html>
