<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>GFE Registration</title>
  <link rel="stylesheet" href="/public/main.css">
</head>

<body>
  <header>
    <a href="/"><img src="/public/GFE-logo.png" title="Go to GFE Home Page" alt="GFE Home Page"></a>
    <h1>GFE Registratio</h1>
  </header>

  <main>
    <form action="/register" method="POST" id="login-form">

      <label for="name-box">Full Name:</label>
      <input type="text" name="username" id="name-box"><br><br>

      <label for="email-box">e-Mail:</label>
      <input type="text" name="username" id="email-box"><br><br>

      <label for="pass-box">Password:</label>
      <input type="password" name="password" id="pass-box"><br><br>

      <button type="submit">Submit</button>
    </form>


  </main>
</body>

</html>
