<!DOCTYPE html>
<html  lang="en-US">

<head>
	<meta charset="utf-8">
	<title>Order Processing</title>
	<link rel="stylesheet" href="/public/css/main.css">
</head>

<body>
	<header>
		<a href="/"><img src="/public/GFE-logo.png" title="Go to GFE Home Page" alt="GFE Home Page"></a>
		<h1>Order Processing</h1>
	</header>

	<main>

		<p>Thank you for your order.</p>
		<p>Your bill will arrive with your first order package.</p>
		<p>Have a nice day!</p>


	</main>

	<footer>
		<p><strong>Site created for CS-546 by:</strong> </p>
		<p>Dakota Crouchelli <br> Christopher Drew
			<br> Theodore Kluge <br> </p>
		<p><em> Team Missing Bracket </em> </p>
	</footer>

</body>

</html>
