<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Unauthorized Access</title>
  <link rel="stylesheet" href="/public/main.css">
</head>

<body>
  <main>
    <h1>Unauthorized Access</h1>
    <h2><em>DANGER WILL ROBINSON!</em></h2>

    <p>ERROR: Code 403 -- you are not logged in!</p>
    <p>Invalid, corrupt, or no credentials were recieved.</p>
    <p><a href="/" title="Home">Try again...</a></p>

  </main>
</body>

</html>
