.hidden {
  display: none;
}

body {
  width: 80%;
  max-width: 700px;
  margin: auto;
  background: #2C4B7F;
  border-style: ridge;
  font-family: sans-serif;
}

main {
  padding: 1em;
  background: #D4E4FF;
}

header {
  text-align: center;
  padding: 1em;
  background: #D4E4FF;
}

footer {
  text-align: center;
  padding: 1em;
  font-size: 65%;
  border-top: 1px dashed;
  background: #D4E4FF;
}

h1 {
  color: #AA0000;
  border-bottom: 1px solid;
}

table, tbody {
  padding: 1em;
  text-align: center;
}

th, td {
  border-bottom: 1px solid black;
  padding: 1em;
  text-align: center;
}

.error {
  text-align: center;
  font-size: 200%;
  background: #FE8080;
  padding: 1em;
  margin-top: 0.5em;
  border-style: dashed;
}

/*a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
}*/

button, .button {
  border: 1px solid #aa0000;
  border-radius: 3px;
  outline: none;
  background: rgba(0, 0, 0, .2);
  color: #aa0000;
  display: inline-block;
  line-height: 26px;
  height: 26px;
  padding: 0 20px;
  text-decoration: none;
  cursor: pointer;
}

button:hover, .button:hover {
  background: rgba(0, 0, 0, .3);
}

a:not(.button):hover {
  text-decoration: underline;
}

li {
  margin-top: 0.5em;
}

.product-list {
  position: relative;
  margin: 10px -4px;
}

.product-list .product-preview {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  width: calc((100% / 3) - 8px);
  margin: 0 4px 8px 4px;
  height: 200px;
  border: 1px solid #aa0000;
  border-radius: 3px;
  overflow: hidden;
}

.product-list .product-preview img {
  display: block;
  height: 130px;
  width: 100%;
  object-fit: cover;
}

.product-list .product-preview h1, .product-list .product-preview h2, .product-list .product-preview h3 {
  margin: 0;
  padding: 0;
  padding: 0 3px;
}

.product #rating, .product-list .product-preview h2 {
  min-height: 20px;
  font-size: 1rem;
  font-weight: normal;
}

.product #rating svg, .product-list .product-preview h2 svg {
  display: inline-block;
  height: 16px;
  width: 16px;
}

.product #rating svg path, .product-list .product-preview h2 svg path {
  fill: #aa0000;
}

.product-list .product-preview h3 {
  font-size: 0.9rem;
  font-weight: normal;
  padding: 3px;
}

.product-list .product-preview .hover {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, .2);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: opacity .1s ease-in-out;
}

.product-list .product-preview .hover:hover {
  opacity: 1;
}

.product-list .product-preview .button {
  background: #aa0000;
  color: white;
}

.product-list .product-preview .button:hover {
  background: #bb3333;
}
<<<<<<< HEAD

.cart .product-preview {
	padding: 5em;

}
.cart .product-preview:last-of-type {
	border-bottom: 5em;
}
.cart .product-preview img {
	height: 220px;
	width: 220px;
	object-fit: cover;
=======
#star-rating {
  font-size: 0;
  padding-bottom: 10px;
}
#star-rating svg {
  height: 30px;
  width: 30px;
}
#star-rating svg path {
  pointer-events: none;
  fill: rgba(0,0,0,.3);
}
#star-rating svg.active path {
  fill: #aa0000;
>>>>>>> 138c921deebfdd8cb5af706b7c734277b39829ee
}
