.hidden {
  display: none;
}

body {
  width: 50%;
  max-width: 40em;
  margin: auto;
  background: #D9FEFF;
  border-style: ridge;
}

main {
  padding: 1em;
}

header {
  text-align: center;
  padding: 1em;
}

footer {
  text-align: center;
  padding-top: 1em;
  font-size: 65%;
  border-top: 1px dashed;
}

h1 {
  color: #AA0000;
  border-bottom: 1px solid;
}

.error {
  text-align: center;
  font-size: 200%;
  background: #FE8080;
  padding: 1em;
  margin-top: 0.5em;
  border-style: dashed;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
}
/* Theo gave me a different way of doing this:
a.button {
  border: 1px solid rgba(0,0,0,.4);
  outline: none;
  background: rgba(0,0,0,.2);
  color: black;
  display: inline-block;
  line-height: 50px;
  padding: 0 30px;
}
*/

li {
  margin-top: 0.5em;
}
