.hidden {
  display: none;
}

body {
  width: 50%;
  max-width: 40em;
  margin: auto;
  background: #D9FEFF;
  border-style: ridge;
}

main {
  padding: 1em;
}

header {
  text-align: center;
  padding: 1em;
}

footer {
  text-align: center;
  padding-top: 1em;
  font-size: 65%;
  border-top: 1px dashed;
}

h1 {
  color: #AA0000;
  border-bottom: 1px solid;
}

#error {
  background: #FE8080;
  padding: 1em;
  margin-top: 3em;
  border-style: dashed;
}

a.button.Home {
    appearance: button;

    text-decoration: none;
    color: initial;
}

a.button.Login {
    appearance: button;

    text-decoration: none;
    color: initial;
}

a.button.viewCart {
    appearance: button;

    text-decoration: none;
    color: initial;
}

a.button.Logout {
    appearance: button;
    text-decoration: none;
    color: initial;
}

li {
  margin-top: 0.5em;
}
